body {
    font-family: 'Roboto', sans-serif;
}
.header h1 {
    font-size: 50pt;
    text-transform: uppercase;
}

div {
    /* border: 1pt red solid; */
}

#zone_joystick {
    min-width: 200px;
    min-height: 200px;
}

.appendix-movement {
    width: 95%;
}

.robot {
    font-size: 0.6em;
}

.video-frame {
    min-height: 195px;
}
.vertical-joy-align, .vertical-joy-align i {
    line-height: 200px;
}

.container.parts-list {
    height: 200px;
    overflow-y: auto;
}
