<launch>

    <arg name="serial_port" default="/dev/arduino" />
    <arg name="serial_speed" default="115200" />

    <node name="subscriber_movement" pkg="csjbot_alice" type="subscriber_movement.py" />
    <node name="subscriber_speech" pkg="csjbot_alice" type="subscriber_speech.py" />
    <node name="subscriber_expression" pkg="csjbot_alice" type="subscriber_expression.py" />

    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
    <node name="web_server" pkg="csjbot_alice" type="launch_web_server.sh" />

    <node name="subscriber_video" pkg="csjbot_alice" type="subscriber_video.py" />
    <node name="publisher_video" pkg="csjbot_alice" type="publisher_video.py" output="screen" />

    <node name="alice_listener" pkg="csjbot_alice" type="alice_response_listener.py" output="screen" />

    <node name="parts_management" pkg="csjbot_alice" type="parts_management.py" output="screen" />

    <node name="rosserial_python" pkg="rosserial_python" type="serial_node.py">
        <param name="port" value="$(arg serial_port)" />
        <param name="baud" value="$(arg serial_speed)" />
    </node>

    <node name="openhab_connector" pkg="csjbot_alice" type="openhab_connector.py" output="screen" />

    <node name="web_video_server" pkg="web_video_server" type="web_video_server">
        <param name="topic" value="/camera/image" />
    </node>
    
    <group ns="alice">
        <rosparam file="$(find csjbot_alice)/config/contexts.yaml" />
        <rosparam file="$(find csjbot_alice)/config/speech_db.yaml" />
        <rosparam file="$(find csjbot_alice)/config/parts_db.yaml" />
        <rosparam file="$(find csjbot_alice)/config/openhab.yaml" />
    </group>
</launch>
