<launch>
    <node name="subscriber_movement" pkg="lily_interface" type="subscriber_movement.py" />
    <node name="subscriber_speech" pkg="lily_interface" type="subscriber_speech.py" />
    
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
    <node name="web_server" pkg="lily_interface" type="launch_web_server.sh" />

    <node name="subscriber_video" pkg="lily_interface" type="subscriber_video.py" />
    <node name="publisher_video" pkg="lily_interface" type="publisher_video.py" output="screen" />

    <node name="alice_listener" pkg="lily_interface" type="alice_response_listener.py" output="screen" />
</launch>
